* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background: rgba(21, 21, 21, .8);
    height: 70px;
    position: fixed;
    z-index: 10;
}

html {
    scroll-behavior: smooth;
}

.ancho {
    width: 80%;
    height: 70px;
    margin: auto;
}

.logo {
    width: 30%;
    height: 70px;
    float: left;
    padding-top: 8px;
    box-sizing: border-box;
}

.logotipo{
    margin-top: 50px;
}

.logotipo img {
    
    display: block;
    margin: auto;
}

.logotipo p{
    font-size: 45px;
    font-family: rale;
    text-align: center;
    color: #B6B6B6;
}

.logotipo a{    
    font-size: 45px;
    font-family: rale;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.logo p a {
    color: #FFF;
    font-size: 45px;
    text-decoration: none;
    font-weight: bold;
    font-family: rale;
}

nav {
    width: 70%;
    height: 70px;
    float: left;
    text-align: right;
    padding-top: 24px;
    box-sizing: border-box;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #FFF;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: rale;
}

nav ul li a:hover {
    color: #FCDA02;
}

@font-face {
    font-family: rale;
    src: url(../fuente/Raleway-Regular.ttf);
}